@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	list-style:none;
	outline:none;
}
#login,#des{
	color:white;
	font-size:11px;
}
#login{
	margin-left:5px;
}
#des{
	margin-left:25px;
}
#content{
	width:100%;
	min-height:800px;
	display:block;
	margin:0 auto;
}
#headContent{
	width:100%;
	height:150px;
}
#headContent img{
	display:block;
	margin:0 auto;
	width:80%;
	height:100%;
}
#midContent{
	width:1224px;
	min-height:500px;
	margin:0 auto;
	margin-top:20px;
}
#footerContent{
	background:#F9F9F9;
	width:100%;
	height:150px;
	position:relative;
}
#footerContent p{
	position:absolute;
	display:block;
	width:100%;
	text-align:center;
	color:#5E4F48;
	font-size:13px;
	top:50px;
}
#midLeftContent{
	display:inline-block;
	float:left;
	width:250px;
	height:100%;
	background-color:#333;
}
#midRightContent{
	display:inline-block;
	position:relative;
	width:79.5%;
	height:100%;
}
#midLeftContent #UserLogin{
	background-color:#333;
	position:relative;
	height:160px;
	transition:all 1s;
	overflow:hidden;
}
#UserLogin img{
	display:block;
	position:absolute;
	width:100px;
	height:100px;
	margin:10px 30%;
	border-radius:100%;
}
#UserLogin p{
	position:absolute;
	font-size:12px;
	color:white;
	left:35%;
	top:120px;
}
#midLeftContent #UserLogin:hover{
	height:250px;
}
#midLeftContent #UserLogin:hover#UserLogin a[name="person"]{
	left:85px;
}
#midLeftContent #UserLogin:hover#UserLogin a[name="history"]{
	right:70px;
}
#UserLogin a[name="person"],#UserLogin a[name="history"]{
	font-size:12px;
	color:#ccc;
}
#UserLogin a[name="person"]{
	position:absolute;
	top:170px;
	left:-80px;
	text-decoration:none;
	transition:all 1s;
}
#UserLogin a[name="person"]:hover{
	text-decoration:underline;
}
#UserLogin a[name="history"]{
	position:absolute;
	top:200px;
	right:-100px;
	text-decoration:none;
	transition:all 1s;
}
#UserLogin a[name="history"]:hover{
	text-decoration:underline;
}
#loginBox{
	border:1px solid #ccc;
	margin:100px 460px;
	display:none;
	background-color:white;
	position:fixed;
	height:300px;
	z-index:99;
	width:400px;
}
#loginBox ul{
	list-style:none;
}
#loginBox h2{
	background-color:#0080ff;
	display:block;
	height:20px;
	line-height:20px;
	width:95%;
	padding-top:10px;
	color:white;
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
}
#loginBox ul li{
	padding-left:50px;
	height:30px;
}
#loginBox ul li:nth-child(1),#loginBox ul li:nth-child(4){
	margin-top:20px;	
}
#loginBox ul li:nth-child(2){
	height:20px;
}
#loginBox ul li span{
	font-size:13px;
	color:red;
	margin-left:80px;
}
#loginBox ul li font{
	color:#666;
	display:inline-block;
	height:30px;
	width:80px;
	text-align:right;
	line-height:30px;
}
#loginBox ul li input[type="text"],#loginBox ul li input[type="password"]{
	display:inline-block;
	width:150px;
	height:25px;
	padding-left:5px;
}
#loginBox ul li input[type="submit"]{
	display:block;
	width:100px;
	height:30px;
	color:white;
	margin-left:80px;
	font-size:15px;
	letter-spacing:5px;
	background-color:#ff4040;
	border:none;
	transition:all 0.5s;
}
#loginBox ul li input[type="submit"]:hover{
	background-color:#20a0ff;
	cursor:pointer;
}
#loginBox #del{
	display:block;
	position:absolute;
	top:0;
	right:20px;
	width:40px;
	height:25px;
	line-height:20px;
	text-align:center;
	background-color:red;
	color:white;
}
#loginBox #del:hover{
	cursor:pointer;
}
#midLeftContent ul{
	list-style:none;
	position:relative;
	text-align:center;
	margin-top:10px;
}
#midLeftContent ul li{
	margin-top:20px;
}
#midLeftContent ul li a{
	text-decoration:none;
	display:block;
	width:100%;
	color:#ccc;
	transition:all 0.5s;
}
#midLeftContent ul li span{
	color:white;
}
#midLeftContent ul li a:hover{
	font-size:15px;
	color:white;
}
#midLeftContent ul li .leftF{
	position:absolute;
	left:0px;
	opacity:0;
	transition:all 0.5s;
}
#midLeftContent ul li .rightF{
	position:absolute;
	right:0px;
	opacity:0;
	transition:all 0.5s;
}
#midLeftContent ul li a:hover .leftF{
	left:50px;
	opacity:1;
}
#midLeftContent ul li a:hover .rightF{
	right:50px;
	opacity:1;
}
#midRightContent #addDiv h2,#midRightContent #personMsg h2{
	text-align:center;
	background-color:#3BC0F2;
	color:white;
}
#midRightContent #addDiv ul{
	list-style:none;
	margin-left:200px;
}
#midRightContent #addDiv ul li{
	margin-top:20px;
}
#midRightContent #addDiv ul li font{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:right;
	font-size:14px;
}
.wxmsg{
	position:absolute;
}
#midRightContent #addDiv ul li input{
	font-size:13px;
	outline:none;
	border-radius:2px;
	border:1px solid #ccc;
	padding-left:5px;
	height:25px;
}
#midRightContent #addDiv ul li textarea{
	border-radius:2px;
	border:1px solid #ccc;
	outline:none;
	padding-left:5px;
	padding-top:5px;
	font-size:17px;
	margin-left:100px;
	resize:none;
}
#midRightContent #addDiv ul li input[type="submit"]{
	padding-left:0;
	display:block;
	width:80px;
	font-size:14px;
	background-color:rgb(275,70,70);
	border:none;
	color:white;
	margin-left:100px;
	letter-spacing:5px;
}
#midRightContent #addDiv ul li input[type="submit"]:hover{
	cursor:pointer;	
}
#timeSelect{
	display:none;
	position:absolute;
	border:1px solid #ccc;
	width:230px;
	height:150px;
	background-color:#6495ED;
	top:279px;
	left:532px;
}
/* 个人资料修改样式 */
#personMsg{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
}
#personMsg ul{
	text-align:center;
}
#personMsg ul li{
	height:30px;
	text-align:center;
	margin-top:10px;
	position:relative;
}
#personMsg ul li font{
	display:inline-block;
	height:30px;
	line-height:30px;
	width:60px;
	font-size:14px;
	text-align:right;
	position:absolute;
	left:200px;
}
#personMsg ul li input{
	display:inline-block;
	height:26px;
	line-height:26px;
	font-size:14px;
	width:170px;
	padding-left:5px;
	position:absolute;
	left:280px;
}
#personMsg ul li span{
	text-decoration:underline;
	display:inline-block;
	font-size:13px;
	height:30px;
	line-height:30px;
}
#personMsg ul li span:hover{
	cursor:pointer;
	color:red;
}
#personMsg ul li input[type='text']{
	color:#ccc;
}
#personMsg ul li input[type='submit']{
	width:100px;
	height:30px;
	border:1px solid red;
	color:red;
	background:white;
	transition:all 0.3s;
}
#personMsg ul li input[type='submit']:hover{
	cursor:pointer;
	color:white;
	background:rgb(255,70,70);
}
/* 用户登录不成功提示 */
#loginError{
	position：absolute;
	z-index:999;
	height:300px;
	width:300px;
	margin-left:200px;
	border:2px solid #ccc;
}
/* 设置蒙板 */
#mb{
	width:100%;
	height:140%;
	position:absolute;
	z-index:90;
	opacity:0.5;
	display:none;
	background-color:white;
}
/* 显示维修进度 */
#fixSta{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
}
#fixSta h2{
	text-align:center;
	background:#3BC0F2;
	color:white;
}
#fixContent{
	width:85%;
	height:67%;
	margin:10px auto;
}
#fixContent #head{
	background:#D9EDF7;
	width:100%;
	height:35px;
	line-height:35px;
}
#fixContent p{
	height:35px;
	line-height:35px;
	text-align:center;
	border-bottom:1px solid #E9EAEC;
}
#fixContent p span{
	display:inline-block;
	width:155px;
	height:35px;
	line-height:35px;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#fixContent p span:nth-child(1){
	
}
#fixContent p span:nth-child(3),#fixContent p span:nth-child(4){
	text-align:center;
}
/* 分页按钮样式 */
#paging{
	position:relative;
	margin:0 auto;
	max-width:154px;
	height:30px;
	background:#3C8DBC;
	box-shadow:0 0 5px #3C8DBC;
	color:white;
	border-radius:50px;
}
#pre,#nex{
	float:left;
	display:inline-block;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	font-weight:600;
}
#pre{
	float:left;
	border-right:1px solid white;
	border-radius:50px 0 0 50px;
}
#pre:hover{
	cursor:pointer;
}
#nex{
	float:right;
	border-radius:0 50px 50px 0;
}
#nex:hover{
	cursor:pointer;
}
#lab{
	display:inline-block;
	position:absolute;
	overflow:hidden;
	width:94px;
	height:30px;
}
#Labels{
	position:absolute;
	height:30px;
	left:0px;
}
#Labels span{
	display:inline-block;
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-right:1px solid white;
}
#Labels span:hover{
	cursor:pointer;
}
/* 上传头像 */
#upload{
	position:relative;
	width:400px;
	margin:20px auto;
}
#upload img{
	width:100px;
	height:100px;
}
#upload input[type="file"]{
	top:10px;
	left:120px;
	position:absolute;
	height:20px;
	border:1px solid #3C8DBC;
}
#upload input[type="submit"]{
	position:absolute;
	top:40px;
	left:120px;
	width:60px;
	height:25px;
	border:none;
	background:#ff4848;
	color:white;
	letter-space:4px;
}