*{
	margin: 0;
	padding: 0;
	font-family: "宋体";
}
form{
	width:100%;
	height: 400px;
	position:absolute;
}
#loginBox{
	background-color:white;
	width:500px;
	height: 400px;
	margin: 5% auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border: 1px solid #37322F;
	box-shadow: 0 0 8px #37322F;
	-webkit-box-shadow: 0 0 8px #37322F;
	-moz-box-shadow: 0 0 8px #37322F;
	-ms-box-shadow: 0 0 8px #37322F;
	position: relative;
	overflow: hidden;
}
#loginBox h2{
	padding:10px;
	background-color:#37322F;
	color:white;
	text-align: center;
}
#loginBox hr{
	margin: 0 auto;
	width:95%;
}
#loginBox #User{
	width:80%;
	margin-left: 12%;
	margin-top:20px;
}
#loginBox #User ul{
	list-style: none;
}	
#loginBox #User ul li{
	height: 35px;
	margin-top: 20px;
}
#loginBox #User ul li span{
	display: inline-block;
	width:20%;
	height: 35px;
	line-height: 35px;
	text-align: right;
}	
#loginBox #User ul li input{
	outline:none;
	display: inline-block;
	width:50%;
	height: 25px;
	margin-left: 15px;
	border:1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
#loginBox #User ul li input[type="text"],#loginBox #User ul li input[type="password"]{
	padding-left:5px;
}
#loginBox #User ul li input[type="submit"]{
	width:52%;
	margin-left:23.5%;
	letter-spacing: 10px;
	background-color:orangered;
	color:white;
}	
#loginBox #User ul li input[type="submit"]:hover,#loginBox #User ul li input[name="permissions"]:hover{
	cursor: pointer;
}
#permissions{
	position: absolute;
	right: -10%;
	top:20%;
}
#permissions p{
	margin-top:15px;
	text-align: center;
}
#permissions p:hover{
	cursor: pointer;
}
#noUser,#errorMsg{
	font-size:12px;
	position:absolute;
	left:31%;
	color:blue;
}
#noUser a{
	color:blue;
}
#noUser a:hover{
	color:red;
}
#errorMsg{
	color:red;
	font-weight:600;
	top:72%;
}
#bgImg{
	width:100%;
	height:100%;
	background-image:url("../imgs/yglogin.jpg");
	position:absolute;
}