<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MainPlatform</display-name>
  <welcome-file-list>
    <welcome-file>/UserPage/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500</location>
  </error-page>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.maintain.UserDomainServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/UserPage/RegisterPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.maintain.UserDomainServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/UserPage/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAllServlet</servlet-name>
    <servlet-class>com.maintain.fixServlet.showAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllServlet</servlet-name>
    <url-pattern>/Pages/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>com.maintain.fixServlet.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/FixPages/addFix</url-pattern>
  </servlet-mapping>
</web-app>